
$primary: #00949E;
$secondary: #ec008c;
$green: #139A43;
$blue: #3587A4;

$paragraphs: #757575;

// Breakpoints
$mobile: 600px;
$tablet: 960px;
$medium: 1264px;
$desktop: 1904px;


$content-width: 924px;
$content-width-extended: 950px;
//$content-width: 1024px;
